<div>
	<table class="table">
		<td>
			<div class="btn-group">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					<i class="fa fa-map-marker app-red"></i> Select address <i
						class="fa fa-chevron-circle-down app-blue"></i>
				</button>
				<ul class="dropdown-menu" role="menu"
					aria-labelledby="dropdownMenu1">
					<li role="presentation" ng-if="addresses.length>0"><a
						role="menuitem" tabindex="-1" href=""
						ng-repeat="address in addresses" ng-click="selectAddr(address)">{{address.street}}
							<br> <b class="app-blue">{{address.country}},
								{{address.city}}</b> <br> <br>
					</a></li>
					<li role="presentation" ng-if="addresses.length==0"><a
						role="menuitem" tabindex="-1" href="">No address configured </a></li>
				</ul>
			</div>
		</td>
		<td>
			<div class="list-group" ng-if="addresses.length>0">
				<a class="list-group-item list-group-item-success">
					<h4 class="list-group-item-heading">
						Street: {{selectedAddr.street}} <sup>{{selectedAddr.country}},{{selectedAddr.city}}</sup>
						<i class="fa fa-check app-gray"></i>
					</h4>
				</a>
			</div>
		</td>
	</table>
</div>