<!-- JS -->
<script>
	//init
	$("#alertSuccess").hide();
	$("#alertWarning").hide();
	$("#alertDanger").hide();

	function showAlertSuccess(message) {
		$("#alert_success_message").text(message);
		$("#alertSuccess").show();
	}
	function showAlertWarning(message) {
		$("#alert_warning_message").text(message);
		$("#alertWarning").show();
	}
	function showAlertDanger(message) {
		$("#alert_danger_message").text(message);
		$("#alertDanger").show();
	}

	function closeAlertSuccess() {
		$("#alertSuccess").hide();
	}
	function closeAlertWarning() {
		$("#alertWarning").hide();
	}
	function closeAlertDanger() {
		$("#alertDanger").hide();
	}
</script>

<div>
	<div id="alertSuccess" class="alert alert-success" role="alert">
		<span><i class="fa fa-comment"></i> <span id="alert_success_message"></span> <i class="fa fa-smile-o"></i></span> <span> (Please, close me)</span>
		<button type="button" class="close" aria-label="Close" onClick="closeAlertSuccess()">
			<span aria-hidden="true"> &times;</span>
		</button>
	</div>
	<div id="alertWarning" class="alert alert-warning" role="alert">
		<span><i class="fa fa-comment"></i> <span id="alert_warning_message"></span> <i class="fa fa-meh-o"></i></span><span> (Please, close me)</span>
		<button type="button" class="close" aria-label="Close" onCLick="closeAlertWarning()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div id="alertDanger" class="alert alert-danger" role="alert">
		<span><i class="fa fa-comment"></i> <span id="alert_danger_message"></span> <i class="fa fa-frown-o"></i></span><span> (Please, close me)</span>
		<button type="button" class="close" aria-label="Close" onClick="closeAlertDanger()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>