<div class="app-footer">
	<p>
		<span class="glyphicon glyphicon-thumbs-up app-thumb-up"></span><span class="app-footer-text"> Many thanks for the guys who made AngularJS
			happen </span>
	</p>
</div>