<nav class="navbar navbar-default app-navbar" ng-controller="navbarCtrl">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="admin.html"><i
				class="fa fa-cog app-blue-light"></i><span class="app-navbar-text">
					Admin</span></a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="index.html"><span
					class="glyphicon glyphicon-th app-orange"></span> <span
					class="app-navbar-text">Dashboard</span></a></li>
			<li><a href="#/chat"><i class="fa fa-weixin app-blue-light"></i>
					<span class="app-navbar-text">Online users</span> <span
					class="badge">{{onlineCount}}</span></a></li>
			<li><a><i class="fa fa-user app-green"></i> <span
					class="app-navbar-text">Welcome, </span><span
					class="app-blue-light">{{username}}</span> </a></li>
			<li><a href="admin.html"><span
					class="glyphicon glyphicon-envelope app-green"></span> <span
					class="app-navbar-text">Messages</span> </a></li>
			<!-- 			<li class="disabled"><a href="#about"><span class="glyphicon glyphicon-question-sign"></span> About</a></li> -->
			<li><a href="user.html"><i
					class="fa fa-pencil-square-o app-gray-light"></i><span
					class="app-navbar-text"> Create new user</span></a></li>
			<li><a ng-click="logout()" href=""><i
					class="fa fa-sign-out app-gray-light"></i><span
					class="app-navbar-text"> Sign-out</span></a></li>
		</ul>
	</div>
</nav>