<div>
	<div>
		<center>
			<h4 class="app-white">
				<span class="glyphicon glyphicon-th app-white"></span> Dashboard
			</h4>
		</center>
	</div>
	<ul class="nav nav-pills nav-stacked app-admin-menu-ul">
		<li role="presentation"><a href="#/water_consumption"><span
				class="app-cool-text-list"> Water Cons. <span
					style="display: inline-block; width: 45px;"></span><i
					class="fa fa-tachometer app-blue fa-2x"></i>
			</span></a></li>
		<li role="presentation"><a href="#/energy_consumption"><span
				class="app-cool-text-list"> Energy Cons. <span
					style="display: inline-block; width: 45px;"></span><i
					class="fa fa-flash app-green-intense fa-2x"></i>
			</span></a></li>
		<li role="presentation"><a href="#/heat_consumption"><span
				class="app-cool-text-list"> Heat Cons. <span
					style="display: inline-block; width: 55px;"></span><i
					class="fa fa-fire fa-2x app-orange"></i>
			</span></a></li>
		<li role="presentation"><a href="#/utility_expense"><span
				class="app-cool-text-list"> Utilities expense <span
					style="display: inline-block; width: 20px;"></span><i
					class="fa fa-money app-green fa-2x"></i>
			</span></a></li>
		<li role="presentation"><a href="#/chat"><span
				class="app-cool-text-list"> Tenants chat <span
					style="display: inline-block; width: 40px;"></span><i
					class="fa fa-weixin app-blue-light fa-2x"></i>
			</span></a></li>
	</ul>
</div>
