html, body {
	height: 100%;
	padding-bottom: 0px;
	background-color: #F5F8FA;
}

.app-login {
	margin-top: 5%;
}

.login-panel {
	/* 	width: 25%; */
	height: auto;
	margin: auto;
	margin-top: 10%;
}

.user-panel {

	/* 	width: 100%; */
	height: auto;
	margin: auto;
	margin-top: 6%;
}