html, body {
	height: 100%;
	padding-bottom: 0px;
	background-color: #F5F8FA;
}

.app-navbar-text {
	color: #8F9A9C;
	font-size: 14px;
	/* 	font-family: 'Open Sans', sans-serif; */
}

.app-navbar-text:HOVER {
	color: #B7C7C9;
	font-size: 14px;
}

.app-navbar {
	background-color: #1C2B2E;
	margin-bottom: 0px;
	border: thin;
	/* 	border-color: red; */
	border-radius: 1px;
}

.app-chat-panel {
	overflow: scroll;
	max-height: 15em;
	overflow-x: hidden;
}

/* app colors */
.app-white {
	color: #CED8DB;
}

.app-blue-gray {
	color: #637E87;
}

.app-red {
	color: red;
}

.app-blue {
	color: #51799C;
}

.app-blue-light {
	color: #33ADD6;
}

.app-blue-dark {
	color: #1E394D;
}

.app-blue-gray {
	color: #8D9A9E;
}

.app-green {
	color: #BABA22;
}

.app-green-intense {
	color: green;
}

.app-gray-dark {
	color: #475D66;
}

.app-gray {
	color: #57707A;
}

.app-shaddow {
	color: #626262;
}

.app-gray-light {
	color: #CFD8D8;
}

.app-orange {
	color: orange;
}

/* -end of app colors- */
.app-container {
	background-color: white;
	padding: 20px;
	border-style: solid;
	border-width: thin;
	border-color: #D4DBE0;
	border-radius: 5px;
}

.app-inline-block {
	display: inline-block;
	vertical-align: top;
	width: 30%; /* Width controls number of elements per row */
}

.app-inline-block-65p {
	padding-left: 20px;
	display: inline-block;
	vertical-align: top;
	width: 65%; /* Width controls number of elements per row */
}

.app-vcenter {
	vertical-align: middle;
}

.app-left-border {
	border: none;
	border-left: solid;
	border-width: thin;
	border-left-color: #F2F4F5;
}

.app-width-35p {
	width: 35%;
}

.app-float-left {
	float: left;
}

/* Configure  the position of the dynamic admin div content */
#admin_content {
	margin: 25px 50px 50px 25px;
	padding: 20px;
	width: 70%;
}
/* Done */
.app-jumbotron {
	background-color:;
	padding: 20px;
}

.app-global-text {
	color: gray;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}

.app-cool-text {
	color: #75AFBF;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.app-cool-text-12px {
	color: #879396;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: oblique;
}

.app-cool-text-list {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #B6CAD4;
}

.app-cool-text1:ACTIVE {
	color: gray;
}

.app-footer {
	position: absolute;
	background-color: #2E373B;
	height: 50px;
	width: 100%;
	bottom: 0;
}

.app-footer-text {
	color: #D4D4D4;
	font-size: small;
}

.app-thumb-up {
	color: #E8E8E8;
}

.app-admin-menu {
	padding: 12px 6px 12px 6px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 60%;
	height: 50%;
	width: 230px;
	border-radius: 0px 0px 30px 0px;
	background-color: #313E40;
	overflow: auto;
}

.app-menu {
	padding: 12px 6px 12px 6px;
	margin-left: 0px;
	margin-top: 0px;
	min-height: 100%;
	width: 16%;
	position: static;
	max-width: 25%;
	background-color: #313E40;
	/* 	overflow: auto; */
}

.app-admin-menu-ul {
	margin: 20px 0px 0px 0px;
}

.app-admin-menu-panel-body {
	width: 250px;
	padding-right: 4px;
	padding-left: 6px;
	padding-top: 6px;
}

#address_dropdown {
	display: table-row;
}

#app_left {
	margin-left: 10%;
}

#app-content {
	display: table-row;
	float: left;
	width: 80%;
}

.app-align-right {
	float: right;
	right: 0;
	margin-right: 0px;
}

#app-middle {
	float: left;
	margin: 15px 15px 15px 15px;
	padding: 15px 15px 15px 15px;
	width: 80%;
	min-height: 50%;
	background-color: white;
	border-style: solid;
	border-width: thin;
	border-color: #D4DBE0;
	border-radius: 5px;
}

#app-chat-users {
	float: left;
	margin: 15px 15px 15px 15px;
	padding: 15px 15px 15px 15px;
	width: 15%;
	min-height: 50%;
	background-color: white;
	border-style: solid;
	border-width: thin;
	border-color: #CCCCCC;
	border-radius: 3px;
}

#app-chat-container {
	float: left;
	margin: 15px 15px 15px 15px;
	padding: 15px 15px 15px 15px;
	width: 55%;
	min-height: 50%;
	background-color: white;
	border-style: solid;
	border-width: thin;
	border-color: #CCCCCC;
	border-radius: 3px;
}

.app-email-send {
	z-index: 10;
	background-color: #1C2B2E;
	position: relative;
	top: 725px;
	right: 0px;
	width: 170px;
	height: 40px;
	border-width: thin;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	position: absolute;
	opacity: 0.75;
	filter: alpha(opacity = 75);
	/* For IE8 and earlier */
}

.app-email-send-container {
	margin: 8px 5px 8px 16px;
}

.app-address-dropdown {
	margin-left: 5px;
	padding: 10px 10px 10px 10px;
	width: 100px;
}

.popover {
	width: 220px;
	/* Max Width of the popover (depending on the container!) */
}