<!DOCTYPE html>
<html ng-app="loginApp">
<head>

<meta name="description"
	content="Web application for managing house utilities" />
<meta name="keywords"
	content="casa,gestiune,consum,apa,caldura,energie,cheltuilei,intretinere,chirie,aplicatie,utilitati,apometre,index,curent,address,tenant,heat,energy,water,utility,house,bottomline,bottom,line,web,application" />
<meta name="rating" content="general" />
<meta name="author" content="Florin Slevoaca" />
<meta name="distribution" content="global" />
<meta name="expires" content="never" />
<meta name="copyright" content="2015, Florin Slevoaca" />

<script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js',
			'ga');

	ga('create', 'UA-68410452-1', 'auto');
	ga('send', 'pageview');
</script>

<title>BottomLine Login</title>
<link rel="shortcut icon" href="img/icon.png" />

<!-- jquery -->
<script type="text/javascript"
	src="external/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="external/jquery/jquery.cookie.js"></script>
<!-- / -->

<!-- bootstrap -->
<script src="external/bootstrap-3.3.4/js/bootstrap.js"></script>
<link rel="stylesheet" href="external/bootstrap-3.3.4/css/bootstrap.css" />
<!-- /bootstrap -->

<!-- angularjs -->
<script src="external/angular-1.3.16/angular.js"></script>
<script src="external/angular-1.3.16/angular-route.js"></script>
<!-- /angularjs -->

<!-- other -->
<link rel="stylesheet"
	href="external/font-awesome-4.3.0/css/font-awesome.css" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans"
	rel="stylesheet" type="text/css">
<!-- / -->

<!-- App dependencies -->
<link rel="stylesheet" href="css/login.css" />
<link rel="stylesheet" href="css/main.css" />
<script src="js/properties.js"></script>
<script src="js/cookie.js"></script>
<script src="js/cache.js"></script>
<script src="js/api_help/api_call.js"></script>
<script src="js/auth.js"></script>
<script src="js/login/login.js"></script>

<script>
	redirectAuthenticatedUser();
</script>

</head>
<body ng-controller="loginCtrl">
	<div class="jumbotron app-login">
		<table align="center">
			<tr />
			<tr />
			<td valign="top" align="center">
				<h3>&nbsp;&nbsp;&nbsp; Welcome to BottomLine web application
					&nbsp;&nbsp;&nbsp;&nbsp;</h3>
				<h4 class="app-blue-light">
					<i class="fa fa-home"></i> Manage your house utilities
				</h4>
				<hr>
				<table class="app-gray">
					<tr>
						<td>
							<h5>
								<i class="fa fa-tachometer app-blue-light"></i> Water
								consumption&nbsp;&nbsp;&nbsp;&nbsp;
							</h5>
						</td>
						<td>
							<h5>
								<i class="fa fa-flash app-green-intense"></i> Energy
								consumption&nbsp;&nbsp;&nbsp;&nbsp;
							</h5>
						</td>
					</tr>
					<tr>
						<td>
							<h5>
								<i class="fa fa-fire app-orange"></i> Heat
								consumption&nbsp;&nbsp;&nbsp;&nbsp;
							</h5>
						</td>
						<td>
							<h5>
								<i class="fa fa-money app-green"></i> Utilities
								expense&nbsp;&nbsp;&nbsp;&nbsp;
							</h5>
						</td>
					</tr>
				</table> <img src="img/house.png" alt="House"
				style="width: 250px; height: 180px;"> <img src="img/da.png"
				alt="House" style="width: 180px; height: 130px;">
			</td>
			<td align="center">
				<div class="panel panel-success login-panel">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="fa fa-unlock-alt"></i> Authenticate inside application
						</h3>
					</div>
					<div class="panel-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 control-label">Username </label>
								<div class="col-sm-8">
									<input type="text" ng-model="username" placeholder="username"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Password </label>
								<div class="col-sm-8">
									<input type="password" ng-model="password" placeholder="*****"
										class="form-control">
								</div>
							</div>
							<button class="btn btn-success" ng-disabled="incomplete"
								ng-click="login()">
								<i class="fa fa-sign-in"></i> Login <span ng-show="loading">
									<i class="fa fa-spinner fa-spin"></i>
								</span>
							</button>
							<hr>
							<div ng-include="'partials/alerts.html'"></div>
							<nav>
								<ul class="pager">
									<li class="next"><a href="user.html">Or, register <i
											class="fa fa-pencil-square-o"></i></a></li>
								</ul>
							</nav>
						</form>
					</div>
				</div>
			</td>
		</table>
		<h5 class="app-gray" align="center">
			<sub> Tenants chat included</sub><sup> <i
				class="fa fa-comments fa-2x"></i></sup>
		</h5>
		<h5 class="app-gray" align="center">
			Demo <sup><i class="fa fa-coffee app-blue-light"></i> (User:
				guest, Pwd: guest)</sup><sup> </sup>
		</h5>
		<hr>
		<h5 class="app-gray" align="center">
			<sub>A 2015<i class="fa fa-copyright"></i> project
				&nbsp;&nbsp;&nbsp;
			</sub>
		</h5>
	</div>
</body>
</html>