<div class="app-admin-menu">
	<div>
		<center>
			<h4 class="app-white">
				<i class="fa fa-pencil-square-o app-blue-light"></i> Configuration
			</h4>
		</center>
	</div>
	<ul class="nav nav-pills nav-stacked app-admin-menu-ul">
		<li role="presentation"><a href="#/user_edit"><span
				class="app-cool-text-list"><i class="fa fa-wrench app-green"></i>
					&nbsp;Edit profile </span></a></li>
		<li role="presentation"><a href="#/address"><span
				class="app-cool-text-list"><i
					class="fa fa-map-marker fa-2x app-gray"></i> Address </span></a></li>
		<li role="presentation"><a href="#/tenants"><span
				class="app-cool-text-list"><i
					class="fa fa-user-plus app-green"></i>&nbsp;Tenants</span></a></li>
		<li role="presentation"><a href="#/rooms"><span
				class="app-cool-text-list"><i class="fa fa-bed app-orange"></i>
					Rooms</span></a></li>
		<li role="presentation"><a href="#/utilities"><span
				class="app-cool-text-list"><i class="fa fa-cogs app-blue"></i>
					Utilities</span></a></li>
		<br>
	</ul>
</div>