<div ng-controller="adminAddressEditCtrl" class="app-container">
	<h3>
		<i class="fa fa-map-marker app-red"></i> Edit addresses
	</h3>

	<span ng-switch on="addresses.length > 0"> <span
		ng-switch-when="false">
			<div class="alert alert-warning" role="alert">You have no
				addresses configured</div>
	</span> <span ng-switch-when="true">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Country</th>
						<th>City</th>
						<th>Address</th>
						<th>Edit</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="address in addresses"
						ng-init="owner=isOwner(address)">
						<td>{{ address.country }}</td>
						<td>{{ address.city }}</td>
						<td>{{ address.street }}</td>
						<td>
							<button class="btn btn-sm" ng-disabled="!owner"
								ng-click="editAddress(address)">
								<i class="fa fa-pencil-square-o app-orange"></i> Edit <i
									ng-show="!owner" class="fa fa-ban app-red"></i>
							</button>
						</td>
						<td>

							<button ng-if="owner" class="btn btn-sm" ng-disabled="!owner"
								ng-click="confirmAddress(address.id)">
								<span class="glyphicon glyphicon-remove app-blue"></span> Remove
							</button>
							<button ng-if="!owner" class="btn btn-sm"
								ng-click="unsubscribeAddress(address.id)">
								<i class="fa fa-thumbs-o-down app-blue"></i> Unsubscribe
							</button>
						</td>
					</tr>
				</tbody>
			</table>
	</span></span>
	<hr>
	<button class="btn btn-success" ng-click="editAddress('new')">
		<span class="glyphicon glyphicon-tags"></span> Create New Address
	</button>
	<hr>
	<!-- Now the fun part -->
	<h3 ng-hide="edit">Create New Address:</h3>
	<h3 ng-show="edit">
		Edit Address <i class="fa fa-pencil-square-o"></i>
	</h3>

	<div ng-include="'partials/alerts.html'"></div>

	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">Country:</label>
			<div class="col-sm-3">
				<input type="text" ng-model="country" placeholder="Country"
					class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">City:</label>
			<div class="col-sm-3">
				<input type="text" ng-model="city" placeholder="City"
					class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Street:</label>
			<div class="col-sm-5">
				<input type="text" ng-model="street" placeholder="Street"
					class="form-control">
			</div>
		</div>
	</form>

	<hr>
	<button class="btn btn-success" ng-disabled="error || incomplete"
		ng-click="configureAddress()">
		<span class="glyphicon glyphicon-save"></span> Save Changes
	</button>
	<div ng-include="'partials/confirm_modal.html'"></div>
</div>