<div ng-controller="adminRoomsCtrl" class="app-container">
	<h3>
		<i class="fa fa-plus-square app-orange"></i> Assign rooms to address
	</h3>
	<hr>
	<div ng-show="loadAddr">
		<h6>Loading addresses</h6>
		<i class="fa fa-spinner fa-spin"></i>
	</div>

	<div ng-if="!addresses.length" class="alert alert-warning" role="alert">You
		have no addresses configured</div>

	<div ng-if="addresses.length>0">
		<h5 class="app-blue">
			- Select address <i class="fa fa-hand-o-down"></i>
		</h5>

		<div class="list-group" ng-repeat="address in addresses">
			<a href=""
				ng-class="(address.id==selectedAddr.id) ? 'list-group-item-success' : ''"
				class="list-group-item" ng-click="selectAddr(address)">
				<h4 class="list-group-item-heading">
					Street: {{address.street}} <i class="fa fa-check app-gray"
						ng-show="address.id==selectedAddr.id"></i>
				</h4>
				<p class="list-group-item-text">{{address.country}},{{address.city}}</p>
			</a>
		</div>
		<br>

		<h5 ng-if="selectedAddr!=undefined || selectedAddr!=null">
			<i class="fa fa-check-square-o"></i> Selected address: <span
				class="app-blue">{{selectedAddr.country}},{{selectedAddr.city}},{{selectedAddr.street}}</span>
		</h5>


		<hr>
		<h5 class="app-shaddow">
			<i class="fa fa-plus-square"></i> Rooms for address
		</h5>
		<table ng-if="rooms.length" class="table table-striped">
			<thead>
				<tr>
					<th>Type</th>
					<th>Edit</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="room in rooms" ng-init="owner=isOwner(selectedAddr)">
					<td><i class="fa fa-user app-green"></i> {{ room.name }}</td>
					<td>
						<button class="btn btn-sm" ng-disabled="!owner"
							ng-click="editRoom(room)">
							<i class="fa fa-pencil-square-o app-orange"></i> Edit <i
								ng-show="!owner" class="fa fa-ban app-red"></i>
						</button>
					</td>
					<td><button ng-disabled="!owner" class="btn btn-sm"
							ng-click="confirmRoomType(room.id)">
							<span class="glyphicon glyphicon-remove app-blue"></span> Remove
							<i ng-show="!owner" class="fa fa-ban app-red"></i>
						</button>
				</tr>
			</tbody>
		</table>

		<div ng-if="!rooms.length" class="alert alert-warning" role="alert">
			<span>No rooms configured for address <i class="fa fa-meh-o"></i></span>
		</div>
		<button class="btn btn-success" ng-click="editRoom('new')"
			ng-disabled="!isOwner(selectedAddr)">
			<span class="glyphicon glyphicon-save"></span> Add new room <i
				ng-show="!isOwner(selectedAddr)" class="fa fa-ban"></i>
		</button>




		<hr>
		<div ng-include="'partials/alerts.html'"></div>
		<!-- Now the fun part -->
		<div ng-show="isOwner(selectedAddr)">
			<h3 ng-hide="edit">Add New Room:</h3>
			<h3 ng-hide="!edit">
				Edit Room <i class="fa fa-pencil-square-o"></i>
			</h3>
			<br>

			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Type:</label>
					<div class="col-sm-3">
						<input type="text" ng-model="$parent.room_type"
							placeholder="Ex: kitchen" class="form-control">
					</div>
				</div>
			</form>
			<hr>
			<button class="btn btn-success" ng-disabled="incomplete"
				ng-click="configureRoom()">
				<span class="glyphicon glyphicon-save"></span> Save Changes
			</button>
		</div>
	</div>
	<div ng-include="'partials/confirm_modal.html'"></div>
</div>