<div ng-controller="adminTenantsCtrl" class="app-container">
	<h3>
		<i class="fa fa-user-plus app-green"></i> Assign tenants to address
	</h3>
	<hr>
	<div ng-show="loadAddr">
		<h6>Loading addresses</h6>
		<i class="fa fa-spinner fa-spin"></i>
	</div>

	<div ng-if="!addresses.length" class="alert alert-warning" role="alert">You have no addresses configured</div>

	<div ng-if="addresses.length>0">
		<h5 class="app-blue">
			- Select address <i class="fa fa-hand-o-down"></i>
		</h5>

		<div class="list-group" ng-repeat="address in addresses">
			<a href="" ng-class="(address.id==selectedAddr.id) ? 'list-group-item-success' : ''" class="list-group-item" ng-click="selectAddr(address)">
				<h4 class="list-group-item-heading">
					Street: {{address.street}} <i class="fa fa-check app-gray" ng-show="address.id==selectedAddr.id"></i>
				</h4>
				<p class="list-group-item-text">{{address.country}},{{address.city}}</p>
			</a>
		</div>
		<br>

		<h5 ng-if="selectedAddr!=undefined || selectedAddr!=null">
			<i class="fa fa-check-square-o"></i> Selected address: <span class="app-blue">{{selectedAddr.country}},{{selectedAddr.city}},{{selectedAddr.street}}</span>
		</h5>


		<hr>
		<h5 class="app-shaddow">
			<i class="fa fa-user"></i> Tenants assigned to address
		</h5>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Name</th>
					<th>Owner</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tenant in tenants" ng-init="owner=isOwner(selectedAddr); tenantOwner=isTenantOwner(tenant,selectedAddr)">
					<td><i class="fa fa-user app-green"></i> {{ tenant.username }}</td>
					<td>{{ tenant.name }}</td>
					<td ng-show="!tenantOwner"><button ng-disabled="!owner" class="btn btn-sm" ng-click="makeOwner(tenant,selectedAddr)">
							<i class="fa fa-graduation-cap app-green-intense"></i> Make owner <i ng-show="!owner" class="fa fa-ban app-red"></i>
						</button></td>
					<td ng-show="tenantOwner"><button ng-disabled="!owner" class="btn btn-sm" ng-click="unmakeOwner(tenant,selectedAddr)">
							<i class="fa fa-thumbs-o-down app-gray"></i> Strip of ownership <i ng-show="!owner" class="fa fa-ban app-red"></i>
						</button></td>
					<td><button ng-disabled="!owner" class="btn btn-sm" ng-click="confirmTenant(tenant.id)">
							<span class="glyphicon glyphicon-remove app-blue"></span> Remove <i ng-show="!owner" class="fa fa-ban app-red"></i>
						</button></td>
				</tr>
			</tbody>
		</table>
		<hr>
		<div ng-include="'partials/alerts.html'"></div>
		<!-- Now the fun part -->
		<div ng-show="isOwner(selectedAddr)">
			<h3>Add New Tenant:</h3>
			<br>

			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Search:</label>
					<div class="col-lg-4">
						<div class="input-group">
							<input ng-model="searchedUser" type="text" class="form-control" placeholder="Search for..."> <span class="input-group-btn">
								<button type="submit" class="btn btn-info" type="button" ng-click="search(searchedUser)">Go!</button>
							</span>
						</div>
					</div>
				</div>
			</form>
			<div>
				<h6 ng-if="searchedUsers.length" class="app-blue">Users found. Click to invite them to selected address</h6>
				<h6 ng-if="!searchedUsers.length" class="app-blue">No users found</h6>
				<div class="btn-group" role="group" aria-label="..." ng-repeat="user in searchedUsers">
					<button type="button" class="btn btn-success" ng-click="inviteToAddress(user)">
						<i class="fa fa-plus"></i> {{user.username}}
					</button>
					&nbsp;
				</div>
			</div>
			<hr>
		</div>
	</div>
	<div ng-include="'partials/confirm_modal.html'"></div>
</div>