<div class="app-container">
	<h3>
		<i class="fa fa-wrench fa-2x app-blue-dark"></i><sub class="app-blue">
			Edit current profile</sub>
	</h3>
	<hr>
	<div ng-show="loadingProf">
		<i class="fa fa-spinner fa-spin app-gray"></i> <span class="app-gray"><sub>Loading
				data...</sub></span>
	</div>
	<div ng-include="'partials/alerts.html'"></div>
	<div>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label">Name </label>
				<div class="col-sm-4">
					<input type="text" ng-model="name" placeholder="name"
						class="form-control" ng-disabled="currUsername=='guest'">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Username </label>
				<div class="col-sm-4">
					<input type="text" ng-model="username" placeholder="username"
						class="form-control" ng-disabled="currUsername=='guest'">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Email </label>
				<div class="col-sm-4">
					<input type="text" ng-model="email" placeholder="@"
						class="form-control" autocomplete="off"
						ng-disabled="currUsername=='guest'">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">New password </label>
				<div class="col-sm-4">
					<input type="password" ng-model="password" placeholder="*****"
						class="form-control" ng-click="password=''"
						ng-disabled="currUsername=='guest'">
				</div>
			</div>
			<hr>
			<div class="form-group">
				<label class="col-sm-3 control-label">Password unlock <sup><i
						class="fa fa-unlock app-gray"></i></sup></label>
				<div class="col-sm-4">
					<input type="password" ng-model="pwd_unlock" placeholder="*****"
						class="form-control" ng-disabled="currUsername=='guest'">
				</div>
			</div>
			<br>
			<button class="btn btn-success" ng-disabled="incomplete"
				ng-click="update()" ng-disabled="currUsername=='guest'">
				<i class="fa fa-cloud-upload"></i> Update <span ng-show="updating">
					<i class="fa fa-spinner fa-spin"></i>
				</span>
			</button>
			<br> <br>
			<div ng-if="false" ng-include="'partials/alerts.html'"></div>
			<hr>
		</form>
	</div>
</div>