<div ng-controller="mainAdminCtrl">
	<div class="jumbotron app-jumbotron">
		<div class="container">
			<span class="app-global-text">Art is how we decorate space</span>
			<h3 class="app-blue">Welcome !</h3>
			<h4>
				<i class="fa fa-cog fa-1x fa-spin app-blue-light"></i> Get started
				on configuring your addresses. Or, you could access the dashboard
			</h4>
			<a href="index.html"><button type="button"
					class="btn btn-warning">
					<span class="glyphicon glyphicon-th"></span> Dashboard
				</button></a>
		</div>
	</div>

	<div class="jumbotron app-jumbotron">
		<div class="container">
			<span class="app-global-text">Confidential</span>
			<h4 class="app-blue">
				<span class="glyphicon glyphicon-envelope"></span> Messages <span
					ng-show="loading"> <i class="fa fa-spinner fa-spin"></i>
				</span>
			</h4>
			<br>
			<div>
				<div ng-if="messages.length==0">
					<div class="alert alert-info" role="alert">
						<span><i class="fa fa-comment"></i> You have no new
							messages</span>
					</div>
				</div>
				<ul class="list-group" ng-repeat="message in messages">
					<li ng-if="message.type=='addrInvitation'" class="list-group-item">
						<i class="fa fa-comment"></i> <span>User<span
							class="app-blue"> {{message.content.srcPerson.name}}</span>
							invited you to address: <i class="fa fa-map-marker app-red"></i>
							<span class="app-gray">
								{{message.content.address.country}},
								{{message.content.address.city}},
								{{message.content.address.street}}</span></span> <br> <br>
						<button type="button" class="btn btn-success btn-xs"
							ng-click="acceptAddrInvitation(message.content)">
							<i class="fa fa-check"></i> Accept
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>