<div>
	<div id="app-chat-users">
		<h4 class="app-blue-dark">
			Online tenants <i class="fa fa-users app-blue-light"></i>
		</h4>
		<!-- 	<br> -->

		<h5 ng-repeat="tenantId in onlineTenants">
			<i class="fa fa-user app-blue-gray"></i><span class="app-blue-light"><a
				href="" style="text-decoration: none" ng-mouseover="onUser=true"
				ng-mouseleave="onUser=false" ng-click="selectUser(tenantId)">
					{{getTenantName(tenantId)}} </a></span><i ng-show="onUser"
				class="fa fa-comment-o app-gray-light"></i>
		</h5>
	</div>
	<div id="app-chat-container">
		<sup class="pull-right app-shaddow"><i
			class="fa fa-cloud app-blue-light"></i> All tenants</sup>
		<ul class="nav nav-tabs">
			<li role="presentation" ng-repeat="tenantId in tenantIds"
				ng-if="tenantId!=currUserId"
				ng-class="(tenantId==selectedUserId)?'active':'inactive'"
				ng-click="selectUser(tenantId)"><a href="">{{setDefaultSelectedUserId(tenantId);getTenantName(tenantId)}}
					<span ng-show="isOnline(tenantId)"><sup><i
							class="fa fa-cloud-upload app-orange"></i><span class="app-blue">
								on </span></sup></span> <span ng-show="newMsg[tenantId] && selectedUserId!=tenantId"><sup><i
							class="fa fa-comment app-red"></i><span class="app-gray-light">
								Msg.</span></sup></span> <span ng-show="!isOnline(tenantId)"><sup><i
							class="fa fa-cloud-download app-gray-light"></i><span
							class="app-gray-light"> off</span></sup></span>
			</a></li>
		</ul>
		<br>
		<div>
			<div id="app-chat" class="app-chat-panel">
				<h5 ng-repeat="msgId in chatArea[selectedUserId] track by $index">
					<span
						ng-class="(chatArea[selectedUserId][$index].srcUserId!=selectedUserId)?'app-orange':'app-blue-light'"><i
						class="fa fa-comment"></span></i> <span>{{getTenantName(chatArea[selectedUserId][$index].srcUserId)}}:
					</span> <span class="app-blue">{{chatArea[selectedUserId][$index].body}}</span>
				</h5>
				<br>
			</div>
			<br> <br>
			<div>
				<h6 class="app-blue-gray"
					ng-hide="chatArea[selectedUserId].length>0">
					There are no new messages... <i class="fa fa-meh-o fa-2x"></i>
				</h6>
			</div>
		</div>
		<button type="button" class="btn btn-default btn-xs" ng-click=clean()>Clean
			messages</button>
		<hr>
		<div class="form-group">
			<form class="form-horizontal">
				<h6 class="app-blue-gray">Write a message...</h6>
				<div class="input-group">
					<input ng-model="inputMsg" type="text" class="form-control">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-info"
							ng-click="sendMessage()">Send</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>