<div id="app-middle">
	<div>
		<h3>
			<i class="fa fa-bolt app-green-intense"></i> <span
				class="app-blue-dark"> Energy Consumption</span>
		</h3>
	</div>
	<div ng-show="loading">
		<i class="fa fa-spinner fa-spin app-gray"></i> <span class="app-gray"><sub>Loading
				data...</sub></span>
	</div>
	<div ng-if="addresses.length>0">

		<script>
			//init popovers
			$(function() {
				$('[data-toggle="popover"]').popover();
			});
			$('.datepicker').datepicker();
			$('.datepicker').datepicker({
				format : 'mm/dd/yyyy',
				startDate : '-3d'
			});
		</script>
		<div>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-xs-5 pull-right">
						<div class="input-group input-group-sm">
							<input ng-model="$parent.ePattern" type="text"
								class="form-control" placeholder="Search for..."> <span
								class="input-group-btn">
								<button class="btn btn-default" data-toggle="popover"
									title="Tip" data-placement="top"
									data-content="Search by fields: index, consumption and date. Eg: index > 2000 or consumption > 2 and date <= 1443125006000 ">
									<i class="fa fa-question-circle"></i>
								</button>
								<button type="submit" class="btn btn-success"
									ng-click="searchEnergy($parent.ePattern)">Go!</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div ng-show="energyList.length">
			<highchart id="chart1" config="chartConfig" class="span9"></highchart>
			<hr>
		</div>
		<div ng-include="'partials/alerts.html'"></div>
		<button class="btn btn-success pull-right"
			ng-click="editEConsumption('new')">
			<i class="fa fa-plus"></i> Add New Index
		</button>
		<br>
		<h4 class="app-blue">History</h4>
		<div ng-if="!energyList.length" class="alert alert-warning"
			role="alert">You have no energy consumption</div>
		<table ng-if="energyList.length"
			class="table table-striped table-hover table-condensed app-blue-dark">
			<thead>
				<tr>
					<th>Date</th>
					<th>Index</th>
					<th>Cons.</th>
					<th>Description</th>
					<th>Edit</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="energy in energyList">
					<td class="app-gray">{{ energy.date | date : format :
						timezone}}</td>
					<td>{{ energy.index }}</td>
					<td>{{ energy.consumption }}</td>
					<td class="col-md-3"><small class="app-gray">{{
							energy.description }}</small></td>
					<td class="col-xs-1">
						<button class="btn btn-sm" ng-click="editEConsumption(energy)">
							<i class="fa fa-pencil-square-o app-orange"></i> Edit
						</button>
					</td>
					<td><button class="btn btn-sm"
							ng-click="confirmEnergyRemoval(energy.id)">
							<span class="glyphicon glyphicon-remove app-blue"></span> Remove
						</button></td>
				</tr>
			</tbody>
		</table>

		<nav>
			<ul class="pagination">
				<li><a ng-click="firstPage()" href="" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
				</a></li>
				<li ng-class="{active:$index==selectedPage}"
					ng-repeat="page in pagesCount track by $index"><a href=""
					ng-click=selectPage($index)
					ng-hide="Math.abs($index-selectedPage)>10">{{$index+1}}</a></li>
				<li><a ng-click="lastPage()" href="" aria-label="Next"> <span
						aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</nav>

		<div ng-include="'partials/confirm_modal.html'"></div>

		<div id="modalEConsumption" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<!-- Now the fun part -->
						<h4 ng-hide="edit">Add New Index:</h4>
						<h4 ng-show="edit">Edit Index:</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Date:</label>
								<div class="col-sm-4">
									<input class="datepicker" type="text" ng-model="$parent.edate"
										placeholder="mm/dd/yyyy" class="form-control"> <span
										class="glyphicon glyphicon-calendar form-control-feedback"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Index:</label>
								<div class="col-sm-3">
									<input type="text" ng-model="$parent.eindex" placeholder="0"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Consumption:</label>
								<div class="col-sm-2">
									<input type="text" ng-model="$parent.econsumption"
										placeholder="0" class="form-control" data-toggle="popover"
										title="Tip" data-placement="right"
										data-content="If energy consumption is not specified, it will be calculated based on the last index measurement">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Description:</label>
								<div class="col-sm-5">
									<input type="text" ng-model="$parent.edesc"
										placeholder="Description" class="form-control">
								</div>
							</div>
						</form>

						<hr>
						<button class="btn btn-success" ng-disabled="incomplete"
							ng-click="configureEConsumption()" data-dismiss="modal">
							<span class="glyphicon glyphicon-save"></span> Save Changes
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="addresses.length==0">
		<div class="alert alert-warning" role="alert">
			<span><i class="fa fa-comment"></i> <span
				id="alert_warning_message"></span> <i class="fa fa-meh-o"></i></span><span>
				You have no address configured</span>
		</div>
	</div>
</div>