<div id="app-middle">
	<div>
		<h3>
			<i class="fa fa-fire app-orange"></i> <span class="app-blue-dark">
				Heat Consumption</span>
		</h3>
	</div>
	<div ng-show="loading">
		<i class="fa fa-spinner fa-spin app-gray"></i> <span class="app-gray"><sub>Loading
				data...</sub></span>
	</div>
	<div ng-if="addresses.length>0">
		<script>
			//init popovers
			$(function() {
				$('[data-toggle="popover"]').popover();
			});
			$('.datepicker').datepicker();
			$('.datepicker').datepicker({
				format : 'mm/dd/yyyy',
				startDate : '-3d'
			});
		</script>
		<div>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-xs-5 pull-right">
						<div class="input-group input-group-sm">
							<input ng-model="$parent.hPattern" type="text"
								class="form-control" placeholder="Search for..."> <span
								class="input-group-btn">
								<button class="btn btn-default" data-toggle="popover"
									title="Tip" data-placement="top"
									data-content="Search by fields: index, consumption, room and date. Eg: room = bathroom and index > 2000 or consumption > 2 and date <= 1443125006000 ">
									<i class="fa fa-question-circle"></i>
								</button>
								<button type="submit" class="btn btn-warning"
									ng-click="searchHeat($parent.hPattern)">Go!</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div ng-show="heatList.length">
			<highchart id="chart1" config="chartConfig" class="span9"></highchart>
			<highchart id="chart2" config="chartConfig2" class="span9"></highchart>
			<hr>
		</div>
		<div ng-include="'partials/alerts.html'"></div>
		<button class="btn btn-danger pull-right"
			ng-click="editHConsumption('new')">
			<i class="fa fa-plus"></i> Add New Index
		</button>
		<br>
		<h4 class="app-blue">History</h4>
		<div ng-if="!heatList.length" class="alert alert-warning" role="alert">You
			have no heat consumption</div>
		<table ng-if="heatList.length"
			class="table table-striped table-hover table-condensed app-blue-dark">
			<thead>
				<tr>
					<th>Date</th>
					<th>Index</th>
					<th>Cons.</th>
					<th>Room</th>
					<th>Description</th>
					<th>Edit</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="heat in heatList">
					<td class="app-gray">{{ heat.date | date : format : timezone}}</td>
					<td>{{ heat.index }}</td>
					<td>{{ heat.consumption }}</td>
					<td>{{ heat.room.name }}</td>
					<td class="col-md-3"><small class="app-gray">{{
							heat.description }}</small></td>
					<td class="col-xs-1">
						<button class="btn btn-sm" ng-click="editHConsumption(heat)">
							<i class="fa fa-pencil-square-o app-orange"></i> Edit
						</button>
					</td>
					<td><button class="btn btn-sm"
							ng-click="confirmHeatRemoval(heat.id)">
							<span class="glyphicon glyphicon-remove app-blue"></span> Remove
						</button></td>
				</tr>
			</tbody>
		</table>

		<nav>
			<ul class="pagination">
				<li><a ng-click="firstPage()" href="" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
				</a></li>
				<li ng-class="{active:$index==selectedPage}"
					ng-repeat="page in pagesCount track by $index"><a href=""
					ng-click=selectPage($index)
					ng-hide="Math.abs($index-selectedPage)>10">{{$index+1}}</a></li>
				<li><a ng-click="lastPage()" href="" aria-label="Next"> <span
						aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</nav>

		<div ng-include="'partials/confirm_modal.html'"></div>

		<div id="modalHConsumption" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<!-- Now the fun part -->
						<h4 ng-hide="edit">Add New Index:</h4>
						<h4 ng-show="edit">Edit Index:</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Date:</label>
								<div class="col-sm-4">
									<input class="datepicker" type="text" ng-model="$parent.hdate"
										placeholder="mm/dd/yyyy" class="form-control"> <span
										class="glyphicon glyphicon-calendar form-control-feedback"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Index:</label>
								<div class="col-sm-3">
									<input type="text" ng-model="$parent.hindex" placeholder="0"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Consumption:</label>
								<div class="col-sm-2">
									<input type="text" ng-model="$parent.hconsumption"
										placeholder="0" class="form-control" data-toggle="popover"
										title="Tip" data-placement="right"
										data-content="If heat consumption is not specified, it will be calculated based on the last index measurement">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Room:</label>
								<div class="col-sm-3">
									<div class="dropdown">
										<button class="btn btn-default dropdown-toggle" type="button"
											data-toggle="dropdown" aria-expanded="true">
											<i class="fa fa-bed app-green"></i> {{selectedRoom ?
											selectedRoom.name : 'Select a room'}} <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu"
											aria-labelledby="dropdownMenu1">
											<li ng-if="selectedAddr.rooms.length" role="presentation"
												ng-repeat="room in selectedAddr.rooms"><a
												role="menuitem" tabindex="-1" href=""
												ng-click="selectRoom(room)">{{room.name}}</a></li>
											<li ng-if="!selectedAddr.rooms.length" role="presentation"
												class="dropdown-header">You have no rooms configured
												for address</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Description:</label>
								<div class="col-sm-5">
									<input type="text" ng-model="$parent.hdesc"
										placeholder="Description" class="form-control">
								</div>
							</div>
						</form>

						<hr>
						<button class="btn btn-danger" ng-disabled="error || incomplete"
							ng-click="configureHConsumption()" data-dismiss="modal">
							<span class="glyphicon glyphicon-save"></span> Save Changes
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="addresses.length==0">
		<div class="alert alert-warning" role="alert">
			<span><i class="fa fa-comment"></i> <span
				id="alert_warning_message"></span> <i class="fa fa-meh-o"></i></span><span>
				You have no address configured</span>
		</div>
	</div>
</div>

