<div id="app-middle">
	<div>
		<h3>
			<sub class="app-gray"> Utilities expense </sub><i
				class="
			fa fa-money app-green"></i> <span ng-show="loadingHC">
				<small><i class="fa fa-spinner fa-spin app-gray"></i> <span
					class="app-gray"><sub>Loading data...</sub></span></small>
			</span>
		</h3>
		<hr>
	</div>
	<div ng-if="addresses.length>0">
		<script>
			initPopovers();
		</script>
		<div class="app-email-send" ng-show="isMailInProgress" ng-cloak>
			<div class="app-email-send-container">
				<sub><span class="app-white">...notifying tenants via
						mail </span></sub><i class="fa fa-spinner fa-spin app-green"></i>
			</div>
		</div>
		<div>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-xs-7 pull-right">
						<div class="input-group  input-group-sm">
							<input ng-model="$parent.uePattern" type="text"
								class="form-control" placeholder="Search for..."> <span
								class="input-group-btn">
								<button id="startDateBtn" class="btn btn-default">start
									date</button>
								<button id="endDateBtn" class="btn btn-info">end date</button>
								<button class="btn btn-default" data-toggle="popover"
									title="Tip" data-placement="top"
									data-content="Search by fields: value and utility. Eg: utility = RDS-RCS and value > 86 and value < 100">
									<i class="fa fa-question-circle"></i>
								</button>
								<button type="submit" class="btn btn-success"
									ng-click="searchUtilityExp($parent.uePattern)">Go!</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div ng-show="utilityExpList.length">
			<highchart id="chart1" config="chartConfig" class="span9"
				align="center"></highchart>
			<table style="width: 100%">
				<td align="left"><highchart id="chart2" config="chartConfig1"
						class="span9"></highchart></td>
				<td align="right"><highchart id="chart3" config="chartConfig2"
						class="span9"></highchart></td>
			</table>
			<hr>
		</div>
		<div ng-include="'partials/alerts.html'"></div>
		<button class="btn btn-info pull-right"
			ng-click="editUtilityExpense('new')">
			<i class="fa fa-plus"></i> Add New Index
		</button>
		<br>
		<h4 class="app-blue">
			History <span ng-show="loading"> <i
				class="fa fa-spinner fa-spin app-gray"></i> <span class="app-gray"><sup>Loading
						data...</sup></span>
			</span>
		</h4>
		<div ng-if="!utilityExpList.length" class="alert alert-warning"
			role="alert">You have no expenses</div>
		<table ng-if="utilityExpList.length"
			class="table table-striped table-hover table-condensed app-blue-dark">
			<thead>
				<tr>
					<th>Date</th>
					<th>Value</th>
					<th>Utility</th>
					<th>Description</th>
					<th>Edit</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="utilityExp in utilityExpList">
					<td class="app-gray">{{ utilityExp.date | date : format :
						timezone}}</td>
					<td>{{ utilityExp.value }}</td>
					<td>{{ utilityExp.utility.name }}</td>
					<td class="col-md-3"><small class="app-gray">{{
							utilityExp.description }}</small></td>
					<td class="col-xs-1">
						<button class="btn btn-sm"
							ng-click="editUtilityExpense(utilityExp)">
							<i class="fa fa-pencil-square-o app-green-intense"></i> Edit
						</button>
					</td>
					<td><button class="btn btn-sm"
							ng-click="confirmUtilityExpRemoval(utilityExp.id)">
							<span class="glyphicon glyphicon-remove app-blue-light"></span>
							Remove
						</button></td>
				</tr>
			</tbody>
		</table>

		<nav>
			<ul class="pagination">
				<li><a ng-click="firstPage()" href="" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
				</a></li>
				<li ng-class="{active:$index==selectedPage}"
					ng-repeat="page in pagesCount track by $index"><a href=""
					ng-click=selectPage($index)
					ng-hide="Math.abs($index-selectedPage)>10">{{$index+1}}</a></li>
				<li><a ng-click="lastPage()" href="" aria-label="Next"> <span
						aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</nav>

		<div ng-include="'partials/confirm_modal.html'"></div>

		<div id="modalUtilityExpense" class="modal fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<!-- Now the fun part -->
						<h4 ng-hide="edit">Add New Expense:</h4>
						<h4 ng-show="edit">Edit Expense:</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Date:</label>
								<div class="col-sm-4">
									<input class="datepicker" type="text" ng-model="$parent.ueDate"
										placeholder="mm/dd/yyyy" class="form-control"> <span
										class="glyphicon glyphicon-calendar form-control-feedback"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Value:</label>
								<div class="col-sm-3">
									<input type="text" ng-model="$parent.ueValue" placeholder="0"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Utility:</label>
								<div class="col-sm-3">
									<div class="dropdown">
										<button class="btn btn-default dropdown-toggle" type="button"
											data-toggle="dropdown" aria-expanded="true">
											<i class="fa fa-cogs app-green"></i> <span class="app-blue">{{selectedUtility
												? selectedUtility.name : 'Select an utility'}}</span> <span
												class="caret"></span>

										</button>
										<ul class="dropdown-menu" role="menu"
											aria-labelledby="dropdownMenu1">
											<li ng-if="selectedAddr.utilities.length" role="presentation"
												ng-repeat="utility in selectedAddr.utilities"><a
												role="menuitem" tabindex="-1" href=""
												ng-click="selectUtility(utility)">{{utility.name}}</a></li>
											<li ng-if="!selectedAddr.utilities.length"
												role="presentation" class="dropdown-header">You have no
												utilities configured for address</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Description:</label>
								<div class="col-sm-5">
									<input type="text" ng-model="$parent.ueDesc"
										placeholder="Description" class="form-control">
								</div>
							</div>
						</form>

						<hr>
						<button class="btn btn-warning" ng-disabled="error || incomplete"
							ng-click="configureUtilityExpense()" data-dismiss="modal">
							<span class="glyphicon glyphicon-save"></span> Save Changes
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="addresses.length==0">
		<div class="alert alert-warning" role="alert">
			<span><i class="fa fa-comment"></i> <span
				id="alert_warning_message"></span> <i class="fa fa-meh-o"></i></span><span>
				You have no address configured</span>
		</div>
	</div>
</div>

