<div>
	<table>
		<td valing="top">
			<div>
				<img src="img/house.png" alt="House"
					style="width: 300px; height: 220px;">
			</div>
		</td>
		<td valign="top">
			<h2>
				Welcome to
				<p class="app-blue-light">DASHBOARD</p>
			</h2>
			<hr>

			<h3 class="app-gray">
				<i class="fa fa-cog fa-spin app-green"></i> Start managing your
				house consumption
			</h3>
			<table>
				<td>
					<h5 class="app-blue-gray">
						<i class="fa fa-check-square app-blue-light"></i> Water
						consumption&nbsp;&nbsp;&nbsp;&nbsp;
					</h5>
				</td>
				<td>
					<h5 class="app-blue-gray">
						<i class="fa fa-check-square app-blue-light"></i> Energy
						consumption&nbsp;&nbsp;&nbsp;&nbsp;
					</h5>
				</td>
				<td>
					<h5 class="app-blue-gray">
						<i class="fa fa-check-square app-blue-light"></i> Heat
						consumption&nbsp;&nbsp;&nbsp;&nbsp;
					</h5>
				</td>
				<td>
					<h5 class="app-blue-gray">
						<i class="fa fa-check-square app-blue-light"></i> Utilities
						expense&nbsp;&nbsp;&nbsp;&nbsp;
					</h5>
				</td>
			</table>
		</td>
	</table>
</div>
